    .nav-header{
        width: 100%;
        margin: 0px auto;
        width: 1600px;
        height: 92px;
        background-color: #1A0B2E;
        /* border: 3px solid aqua; */
    }
    .nav-brand{
        width: 219px;
        height: 32px;
        font-size: 25px;
        margin: 30px 314px 30px 200px;
    }
    .brand-color{
        color:#FB09B4;
    }
    .nav-title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
    }
    .nav-link{
        display: flex;
        gap: 32px;
        list-style: none;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        align-items: center;
        color: white;
    }
    .nav-link-1{
        align-items: center;
        text-align: center;
        text-decoration: none;
        display: flex;
        gap: 5px;
        color: white;

    }
    .btn-primary{
        width: 135px;
        height: 44px;
        margin: 24px 200px 24px 314px;
        gap: 4px;
        border-radius: 25px;
        padding: 12px 25px;
        background-image: linear-gradient(to top right, #F7E93F 0%, #F9797A 26%, #FB09B4 51%, #9100F8 100%);
    }
    .btn-pic{
        width: 20px;
        height: 20px;
    }

    /* banner part-2 */
    .section-container{
        background-image: url('../images/hero-bg.png');
        max-width: 1600px;
        height: 760px;
        width: 100%;
        margin: 0px auto;
        /* border: 2px solid aqua; */
    }
    .nav-banner{
        width: 100%;
        width: 550px;
        height: 558px;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: white;
        margin: 0px 525px 101px 525px;
        /* border: 1px solid aqua; */
    }
    .banner-img-1{
        width: 350px;
        height: 350px;
        margin: 101px 101px 40px 101px;
        /* border: 1px solid aqua; */
    }
    .btn-primary-1{
        width: 75px;
        height: 38px;
        padding: 8px 16px;
        background-color: #00FF88;
        border-radius: 25px;
    }
    .btn-primary-2{
        width: 201px;
        height: 44px;
        margin: 24px 8px 0px 9px;
        border-radius: 25px;
        padding: 14px 25px;
        /* border: 1px solid #00ffff; */
        background-image: linear-gradient(to top right, #F7E93F 0%, #F9797A 26%, #FB09B4 51%, #9100F8 100%);

    }
    .btn-primary-3{
        width: 147px;
        height: 44px;
        margin: 12px 22px 12px 8px;
        align-items: center;
        border-radius: 25px;
        background-color: #1A0B2E;
        color: #00FF88;
        padding: 16px 25px;
        border: 1px solid #00FF88;
    }
    .btn-pic-2{
        width: 20px;
        height: 20px;
        
    }
    .btn-link-1{
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        gap: 10px;
        width: 133px;
        height: 19px;
        /* margin: 12px 20px 12px 8px; */
        text-decoration: none;
    }
    .btn-link-2{
        display: flex;
        color: #00FF88;
        width: 79px;
        height: 19px;
        align-items: center;
        gap: 10px;
        /* margin: 12px 20px 12px 8px; */
        text-decoration: none;
        
    }
    
    .banner-des-1{
        width: 200px;
        height: 200px;
        margin: 69px 175px 289px 175px;
        margin-top:-310px;
        /* border: 1px solid aquamarine; */

    }
    .banner-des-2{
        margin-top: -200px;
        margin-left: 100px;
    }
    .banner-des-3{
        width: 550px;
        height: 168px;
        margin-top: -150px;
        /* border: 2px solid aqua; */
    }
    .btn-link{
        text-decoration: none;
    }
    .banner-img-2{
        width: 116.67px;
        height: 175px;
        /* margin: 8.33px 41.67px 16.67px 41.67px; */
        /* border: 1px solid aqua;    */
    }
    /* part -3 */
    .container-1{
        width: 100%;
        width: 1600px;
        height: 646px;
        margin: 0px auto;
        background-color: black;
    }
    .container-3{
        display: flex;
        text-align: center;
    }
    .container-abouts{
        width: 1200px;
        height: 222px;
        /* border: 1px solid aqua; */
        color: #FFFFFF;
        margin: 50px 200px 160px 200px;
    }
    .container-title{
        font-size: 46px;
        color: white;
        /* border: 1px solid aqua; */
        width: 1200px;
        height: 58px;
        
    }
    .container-user{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* border: 1px solid aqua; */
        color: #00ff88;
        width: 1200px;
        height: 94px;
        gap: 100px;
        margin-top: 120px;
    }
    .con-description{
        color: #a5a0a0;
    }
    .container-w{
        width: 100%;
        margin: 0px auto;
        width: 1600px;
        height: 1200px;
        background-color: #230E3D;
    }
    .media-abouts{
        display: flex;
                 
    }
    .media-description-about{
        color: white;
        justify-content: center;
        margin: 50px 200px 120px 200px;
        
    }
    .media-title{
        align-items: center;
        text-align: center;
        font-size: 46px;
        color: white;
    }
    .media-description{
        width: 1200px;
        height: 480px;
        display: flex;
        gap: 30px;
    }
    .media-description-1{
        width: 380px;
        height: 480px;
        gap: 30px;
        padding: 40px 30px;
        border-radius: 30px;
        box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
        
    }
    .media-description-2{
        width: 790px;
        height: 480px;
        gap: 30px;
    }
    .media-sub-description-1{
        width: 790px;
        height: 200px;
        gap: 16px;
        padding: 40px 40px;
        border-radius: 40px;
        box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
    }
    .media-sub-description-2{
        width: 790px;
        height: 200px;
        gap: 16px;
        padding: 40px 40px;
        border-radius: 40px;
        margin-top: 30px;
        box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
    }
    .media-description-3{
        display: flex;
        width: 1200px;
        height: 273px;
        gap: 30px;
        margin-top: 180px;
    }
    .media-sub-description-3{
        width: 790px;
        height: 210px;
        padding: 40px 40px;
        border-radius: 40px;
        box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
    }
    .media-sub-description-4{
        width: 380px;
        height: 210px;
        padding: 40px 40px;
        border-radius: 40px;
        box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
    }
        /* part----4 */

        .container-w{
            width: 100%;
            margin: 0px auto;
            width: 1600px;
            height: 1200px;
            background-color: #230E3D;
        }
        .media-abouts{
            display: flex;
                     
        }
        .media-description-about{
            color: white;
            justify-content: center;
            margin: 50px 200px 120px 200px;
            
        }
        .media-title{
            align-items: center;
            text-align: center;
            font-size: 46px;
            color: white;

        }
        .media-description{
            width: 1200px;
            height: 480px;
            display: flex;
            gap: 30px;
        }
        .media-description-1{
            width: 380px;
            height: 480px;
            gap: 30px;
            padding: 40px 30px;
            border-radius: 30px;
            box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
            
        }
        .media-description-2{
            width: 790px;
            height: 480px;
            gap: 30px;
        }
        .media-sub-description-1{
            width: 790px;
            height: 200px;
            gap: 16px;
            padding: 40px 40px;
            border-radius: 40px;
            box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
        }
        .media-sub-description-2{
            width: 790px;
            height: 200px;
            gap: 16px;
            padding: 40px 40px;
            border-radius: 40px;
            margin-top: 30px;
            box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
        }
        .media-description-3{
            display: flex;
            width: 1200px;
            height: 273px;
            gap: 30px;
            margin-top: 180px;
        }
        .media-sub-description-3{
            width: 790px;
            height: 210px;
            padding: 40px 40px;
            border-radius: 40px;
            box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
        }
        .media-sub-description-4{
            width: 380px;
            height: 210px;
            padding: 40px 40px;
            border-radius: 40px;
            box-shadow: 4px 9px 9px 9px rgba(9, 2, 20, 0.4);
        }
        /* part---5 */

        .container-episode{
            width: 100%;
            margin: 0px auto;
            width: 1600px;
            height: 1276px;
            background-color: #1A0B2E;
            color: white;
            display: flex;
        }
        .episode-heading{
            text-align: center;
            font-size: 48px;
        }
        .container-episode-description{
            width: 1200px;
            height: 538px;
            /* border: 3px solid blue; */
            display: flex;
            gap: 30px;
            margin: 35px 200px 50px 200px;
        }
        .con-episode{
            width: 380px;
            height: 440px;
            /* border: 1px solid aqua; */
            border-radius: 30px;
            background-color: #231633;
        }
        .con-pic{
            width: 380px;
            height: 214px;
            border-radius: 30px;

        }
        .episode-button-1{
            text-align: center;
            margin-top: -150px;
        }
        .episode-button-2{
            margin-top: -42px;
        }
        .episode-description-title{
            width: 380px;
            height: 226px;
            /* border: 1px solid aqua; */
            margin-top: 120px;
        }
        .episode-p{
            color: rgb(240, 219, 219);
        }
        .video-min{
            align-items: center;
            display: flex;
            gap: 5px;
            color: #00ff88;
        }

    /* part-6 */
    .episode-speech-1{
        width: 1200px;
        height: 378px;
        margin: 120px 200px 120px 200px;
    }
    .episode-speech-2{
        width: 1200px;
        height: 280px;
    }
    .episode-title{
        text-align: center;
        font-size: 46px;
        width: 1200px;
        height: 58px;
    }
    .episode-speech-3{
        width: 1200px;
        height: 280px;
        display: flex;
        gap: 30px;
        border-radius: 30px;
        background-color: #231633;
        /* border: 1px solid aqua; */
        
    }
    .episode-speech-4{
        width: 896px;
        height: 183px;
        margin: 48px 40px 48px 5px;
        /* border: 1px solid aqua; */
    }
    .social-icons{
        width: 184px;
        height: 40px;
        margin: 16px 712px 0px 0px;
        display: flex;
        align-items: center;
        gap: 8px;
        /* border: 2px solid aqua; */
    }
    .logo-s{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 25px;
        border: 2px solid #5b1245;

    }
    .logo-pic{
        width: 20px;
        height: 20px;
        margin: 10.5px 9.5px 9.5px 10px;
        align-items: center;
        /* border: 1px solid #533C72; */
    }
    .media-pic{
        width: 200px;
        height: 200px;
        margin: 40px 4px 40px 40px;
        border-radius: 50%;
        /* border: 1px solid aqua; */
    }

    .footer-head{
        width: 100%;
        margin: 0px auto;
        width: 1600px;
        height: 412px;
        color: white;
        display: flex;
        background-image: url("../images/footer-bg.png");
        /* border: 1px solid aqua; */
    }    
    .footer-abouts{
        width: 1360px;
        height: 172px;
        text-align: center;
        margin: 120px 120px 120px  120px;
        /* border: 2px solid #00ff88; */
    }
    .footer-description{
        width: 544px;
        height: 24px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin: 32px 408px 32px 408px;
        /* border: 1px solid #00ff88; */
    }
    
    .footer-media-a{
        width: 87px;
        height: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
        /* border: 1px solid #00ff88; */
    }

    .footer-media-b{
        width: 152px;
        height: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
       /* border: 1px solid #00ff88; */
    } 
    .footer-media-c{
        width: 99px;
        height: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
        /* border: 1px solid #00ff88; */
    }
    
    .footer-media-d{
        width: 86px;
        height: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
        /* border: 1px solid #00ff88; */
    }
    
    .footer-h1{
        width: 410px;
        height: 60px;
        text-align: center;
        margin: 0px 475px 32px 475px;
        /* border: 2px solid #00ff88; */
    }
     
    .footer-color{
        color: #FB09B4;
    }

    .footer-y{
    width: 1360px;
    height: 24px;
    /* border: 1px solid aqua; */
    }
    
    .footer-pic{
        width: 20px;
        height: 20px;
        /* border: 1px solid aqua; */
    }